.customContainer {
    min-height: 100vh;
    background-color: #86A789 !important;
    border-color: #86A789 !important;
    height: 100% !important;
}

.customTextColorHeader {
    color: #D2E3C8;
    font-weight: bold;
}

.customCardsOrders {
    min-width: 25rem;
}

.customButton{
    background-color: #4F6F52 !important;
    border-color: #4F6F52 !important;
    color: white !important;
}
  
.customButton:hover{
    background-color: #739072 !important;
    border-color: #739072 !important;
    color: white !important;
}

.customButton:active {
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6  !important;
    color: white  !important;
}

.searchField{
    border-radius: 4px;
    border: 0;
    height: 34px;
    border: 1px solid rgb(147, 146, 146);
}

.searchButton{
    background-color: #4F6F52;
    border-color: #4F6F52;
    color: white;
    border-radius: 4px;
    border: 0;
    height: 34px;
}

.searchButton:hover{
    background-color: #739072;
    border-color: #739072;
    color: white;
}