.custom-navbar{
    background-color: #FAF8F1 !important;
}

.custom-navbar-text-color{
    color: #6B240C !important;
    font-size: 20px !important;
}

.custom-navbar-text-color:hover{
    color: #994D1C !important;
}

.custom-button-home{
    background-color: #6B240C !important;
    border-color: #6B240C !important;
    color: white !important;
}
  
.custom-button-home:hover{
    background-color: #994D1C !important;
    border-color: #994D1C !important;
    color: white !important;
}

.custom-button-home:active {
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6  !important;
    color: #537188  !important;
}