/* body {
    background-color:#F5CCA0 !important;
} */

.customCard {
    max-width: 240px;
    background-color: #EEE9DA !important;
    border-color: #EEE9DA !important;
    flex: 1;
}

.customTextColorHeadings {
    color: #994D1C !important;
}

.customTextColor {
    color: #994D1C !important;
}

.customInputs {
    background-color: #EEE9DA !important;
    border-color: #EEE9DA !important;
}

.customIcon {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.3s;
}

.card:hover .customIcon {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.customContainer {
    min-height: 100vh;
    background-color: #F5CCA0 !important;
    border-color: #F5CCA0 !important;
    height: 100% !important;
}

.customLabel {
    color: #EEE9DA !important;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

.customGreeting {
    font-size: small;
}

.customColWidth {
    min-width: 20rem;
}

.customShippingForm {
    min-width: 28rem;
}

.customTextColorHeader {
    color: #EEE9DA;
    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: 400 !important;
    transform: translate(-50%, -50%) !important;
    font-size: 20px !important;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.9s both;
    z-index: 1;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }