.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #EEE9DA;
    border-right: 2px solid #EEE9DA;
}

.arrowLeft {
    transform: rotate(-135deg);
}

.customButtonLogIn {
    background-color: #4F6F52 !important;
    border-color: #4F6F52 !important;
    color: white !important;
}

.customButtonLogIn:hover {
    background-color: #739072 !important;
    border-color: #739072 !important;
    color: white !important;
}

.customButtonLogIn:active {
    background-color: #739072 !important;
    border-color: #739072 !important;
    color: white !important;
}

.customCardLoginSignup {
    min-width: 340px;
}

.customRadioOutline:hover {
    background-color: #739072 !important;
    border-color: #739072 !important;
    color: white !important;
}

.customRadioOutline,
.customRadioOutline:not(:disabled):not(.disabled):active {
    color: #4F6F52 !important;
    border-color: white !important;
}

.customButtonRadio:checked+.customRadioOutline {
    color: white !important;
    background-color: #4F6F52 !important;
    border-color: #4F6F52 !important;
    font-weight: 600;
}

.loginContainer {
    background-color: #6096B4;
    min-height: 100vh;
    transition: background-color 0.5s;
}

.loginContainer.delivery {
    background-color: #F5CCA0;
}
