.customNavbar{
    background-color: #EEE9DA !important;
    width: 100%;
}

.customNavbarTextColor{
    color: #537188 !important;
    font-size: 20px !important;
}

.customNavbarTextColor:hover{
    color: #6096B4 !important;
}

.customButtonHome{
    background-color: #537188 !important;
    border-color: #537188 !important;
    color: white !important;
}
  
.customButtonHome:hover{
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6 !important;
    color: #537188 !important;
}

.customButtonHome:active {
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6  !important;
    color: #537188  !important;
}