.customCard {
    max-width: 280px !important;
    min-height: 480px;
    background-color: #EEE9DA !important;
    border-color: #EEE9DA !important;
    flex: 1;
}

.customTextColorHeadings {
    color: #994D1C !important;
}

.customTextColor {
    color: #994D1C !important;
}

.customInputs {
    background-color: #EEE9DA !important;
    border-color: #EEE9DA !important;
}

.customIcon {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.3s;
}

.card:hover .customIcon {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.customContainer {
    background-color: #F5CCA0 !important;
    border-color: #F5CCA0 !important;
    min-height: 100vh;
}

.customLabel {
    color: #EEE9DA !important;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

.customGreeting {
    font-size: small;
}

.customColWidth {
    min-width: 20rem;
}

.customShippingForm {
    min-width: 28rem;
}

.customButton {
    background-color: #6B240C !important;
    border-color: #6B240C !important;
    color: white !important;
}

.customButton:hover {
    background-color: #994D1C !important;
    border-color: #994D1C !important;
    color: white !important;
}

.customTextColorHeader {
    color: #EEE9DA;
    position: absolute;
    font-weight: 400 !important;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-size: 20px !important;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.9s both;
    z-index: 1;
}

.packageLogo{
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: 20px;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
}