.customTextColorHeader {
    color: #EEE9DA;
    font-weight: bold;
}

.customCardsOrders {
    min-width: 25rem;
}

.customButtonWallet {
    background-color: #537188 !important;
    border-color: #537188 !important;
    color: white !important;
}

.customButtonWallet:hover {
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6 !important;
    color: #537188 !important;
}

.customButtonWallet:active {
    background-color: #BDCDD6 !important;
    border-color: #BDCDD6 !important;
    color: #537188 !important;
}

.customButtonWalletDelivery {
    background-color: #6B240C !important;
    border-color: #6B240C !important;
    color: white !important;
}

.customButtonWalletDelivery:hover {
    background-color: #994D1C !important;
    border-color: #994D1C !important;
    color: white !important;
}

.customButtonWalletDelivery:active {
    background-color: #994D1C !important;
    border-color: #994D1C !important;
    color: white !important;
}

.inputMoney {
    width: 30%;
    margin: 0 auto;

}